.box {
  width: 100px;
  height: 100px;
  background: tomato;
}

.box:hover{
    animation: hello 2s infinite alternate;
}

@keyframes hello {
  0% {
    width: 200px;
  }
  100% {
    width: 500px;
  }
}
